

	<!-- First section of content -->
    <section ng-controller = "ChildController">


        <div class="container">
            <h2> List of Children to be Cared for </h2>
            <article>
                <h4>There are {{ children.length }} children to take care of.</h4>
                <!--shows the quantity of items in array -->
            </article>


            <form name = "myForm" novalidate>      <!--submit function to add grocery item -->
                <input type = "text" ng-model = "newChild.name" id = "addChild" placeholder = "Add Child"
                       required/>

                    <div ng-repeat = "child in children"> <!--test -->
                        {{ newChild.name }}
                    </div>

                <input type = "text" ng-model = "newChild.age" id = "childAge" placeholder = "Child's Age"
                       required/>
                    <div ng-repeat = "age in children"> {{newChild.age}}</div> <!--test -->

                <label>
                    <input type="radio" ng-model="newChild.gender" value="male" required />
                    Male
                </label>
                <label>
                    <input type="radio" ng-model="newChild.gender" value="female" required />
                    Female
                </label>


                <button type = "button" name = "rstBtn" id = "rstBtn" ng-click = "reset(); myForm.$setPristine()">Reset
                    Form</button>  <!--Reset Form Button / pristine as in untouched  -->
                <button type = "submit" name = "addBtn" id = "addBtn" ng-click = "addNewChild()" value = "Add Child" ng-disabled="myForm.$invalid">Add Child</button> <!--add new employee information to local storage and array -->
            </form>

            <p>{{ newChild }}</p>   <!--displays newItem below the input box -->

            <article ng-repeat = "child in children track by $index">
                <button type = "button" class = "close" aria-hidden = "true"
                        ng-click = "removeChild($index)">&times;</button> <!---delete employee -->
                <!--Employee Name/position/email -->
                <span class = "user">&nbsp;</span>
                <h2>{{ child.name }}</h2>  <!--display name -->
                <h4> {{child.age }}</h4> <!--display position -->
                <h4> {{child.gender}}</h4>  <!--display email -->

            </article>

</div>
</section>
   
	

    
